@media (min-width:930px) {


.seventh-section {
    padding-top: 68px;
    padding-bottom: 80px;

    .seventh-content {
        background-image: url('../assets/news-letter.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        filter:brightness(-10);
        height: 470px;
        padding: 40px;
        color: white;
        text-align: center;
        align-content: center;

        .newsletter {
            margin: 0 auto;
            width: 500px;

            h2 {
                font-size: 49px;
                font-weight: 700;
            }

            p {
                padding-top: 30px;
                font-size: 20px;
                line-height: 30px;
                padding-bottom: 20px;
            }

            .input-div {
                padding-top: 10px;
                display: flex;

                input {
                    height: 50px;
                    width: 320px;
                }

                .subscribe {
                    margin-left: 10px;
                    padding: 20px 45px;
                    background-color: #FFC107;
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
}
}

@media (min-width:325px) and (max-width:530px) {


.seventh-section {
    padding-top: 68px;
    padding-bottom: 80px;

    .seventh-content {
        background-image: url('../assets/news-letter.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        filter:brightness(-10);
        height: 370px;
        padding: 40px;
        color: white;
        align-content: center;

        .newsletter {
            margin: 0 auto;

            h2 {
                font-size: 32px;
                font-weight: 700;
            }

            p {
                color: rgb(184, 182, 182);
                padding-top: 20px;
                font-size: 18px;
                line-height: 20px;
                padding-bottom: 20px;
            }

            .input-div {
                padding-top: 10px;
                display: block;

                input {
                    height: 40px;
                    width: 90%;
                    margin-bottom: 30px;
                }

                .subscribe {
                    padding: 14px 107px;
                    background-color: #FFC107;
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
}

}