
@import './Header.scss';
@import './Secondsection.scss';
@import './Thirdsection.scss';
@import './Fourthsection.scss';
@import './Fifthsection.scss';
@import './Sixthsection.scss';
@import './Seventhsection.scss';
@import './Eighthsection.scss';
@import './Ninthsection.scss';
@import './Tenthsection.scss';
@import './Footer.scss';
@import '../Components/Page-Sass/Pages.scss'