

.contact-section{
            background-color: #FFC107;
    .contact-content{
        .contact-us{
            padding-top: 150px;
            padding-bottom: 200px;
            text-align: center;
            a{
                text-decoration: none;
                color: black;
                font-size: 17px;
                padding-right: 10px;
            }
            span{
                font-size: 17px;
                color: rgb(125, 127, 129);
            }
            h1{
                padding-top: 30px;
                font-size: 78px;
                font-weight: 700;
            }
        }
    }

}
