.search-page {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6); // optional dark overlay
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    .search-box {   
        background-color: #fff;
        width: 500px;
        height: 70px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
        padding: 0 12px;

        input {
            flex: 1;
            height: 60%;
            border: none;
            outline: none;
            font-size: 16px;
            padding-left: 12px;
            border-radius: 8px;

            &::placeholder {
                color: #777;
            }
        }

        button {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 18px;
            padding: 8px;

            i {
                color: #333;
            }
        }
    }

    .cross-option {
        font-size: 18px;
        position: absolute;
        top: 130px;
        right: 80px;
    }
}